@font-face {
  font-family: open_sans;
  src: url("../fonts/opensans.ttf"); }
body {
  background: linear-gradient(-45deg, rgba(238, 119, 82, 0.2), rgba(231, 60, 126, 0.2), rgba(35, 166, 213, 0.2), rgba(35, 213, 171, 0.2));
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite; }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
header {
  font-family: open_sans;
  margin: 0 auto;
  padding-top: 10px;
  height: 70px;
  background-color: #8964ff; }
  header .logo {
    font-size: 30px; }
    header .logo a {
      text-decoration: none;
      color: black; }
  header img {
    width: 48px;
    height: 48px;
    margin-bottom: 5px; }
  header .spent_total {
    font-family: open_sans;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
    font-size: 20px;
    margin-top: 3px; }
  header #username {
    font-size: 20px;
    margin-top: 12px; }
  header .exit {
    padding-top: 10px; }
    header .exit img {
      width: 38px;
      height: 38px; }

.main_block {
  padding: 20px 20px;
  margin-top: 130px;
  position: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #2d2e30;
  color: #fff;
  height: 390px;
  border-radius: 30px; }
  .main_block .sort_by {
    display: inline-block;
    font-size: 15px; }
    .main_block .sort_by select {
      border-radius: 5px; }
  .main_block #main_block_elems {
    height: 330px;
    border-radius: 5px;
    overflow: auto; }

#main_block_elems::-webkit-scrollbar {
  width: 12px;
  background-color: #2d2e30; }

#main_block_elems::-webkit-scrollbar-track {
  background-color: #2d2e30;
  color: #2d2e30; }

#main_block_elems::-webkit-scrollbar-thumb {
  background-color: #8964ff;
  color: #8964ff;
  border-radius: 8px; }

.diagram {
  margin-top: 150px;
  text-align: center;
  font-weight: bold; }
  .diagram .diag-text {
    position: absolute;
    margin-top: 10px;
    margin-left: 180px; }
  .diagram select {
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5%;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }

.sec_diag {
  margin-top: 0px; }

#myChart {
  display: inline-block; }

#myChart2 {
  display: inline-block;
  margin-top: 150px; }

.add_in_out {
  margin-top: 20px;
  padding-top: 6px;
  height: 50px;
  background-color: #2d2e30;
  border-radius: 30px;
  text-align: center; }
  .add_in_out span {
    border-left: 2px solid;
    border-color: #fff; }

#add_income {
  background-color: #8964ff;
  border-color: #8964ff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

#add_income:active {
  background-color: #8964ff;
  border-color: #8964ff; }

#add_income:hover {
  background-color: #8964ff;
  border-color: #8964ff; }

#add_income:focus {
  background-color: #8964ff;
  border-color: #8964ff; }

#add_outcome {
  background-color: #8964ff;
  border-color: #8964ff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

#add_outcome:active {
  background-color: #8964ff;
  border-color: #8964ff; }

#add_outcome:hover {
  background-color: #8964ff;
  border-color: #8964ff; }

#add_outcome:focus {
  background-color: #8964ff;
  border-color: #8964ff; }

.btn {
  background-color: #2d2e30;
  border-color: #2d2e30;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.btn:active {
  background-color: #2d2e30;
  border-color: #2d2e30; }

.btn:hover {
  background-color: #2d2e30;
  border-color: #2d2e30; }

.btn:focus {
  background-color: #2d2e30;
  border-color: #2d2e30; }

.dropdown {
  display: inline-block; }

.main_elem_income {
  margin-top: 15px;
  border-radius: 10px;
  padding-top: 7px;
  height: 40px;
  background-color: #bae1aa;
  text-align: left;
  color: black; }
  .main_elem_income .direction {
    display: inline-block;
    position: relative;
    left: 10px; }
  .main_elem_income .sum {
    position: relative;
    display: inline-block; }
  .main_elem_income .date-of-create {
    position: relative;
    left: 230px;
    display: inline-block; }
  .main_elem_income button {
    left: 220px;
    position: relative;
    display: inline-block; }

.main_elem_outcome {
  margin-top: 15px;
  border-radius: 10px;
  padding-top: 7px;
  height: 40px;
  background-color: #e91e63;
  text-align: left;
  color: black; }
  .main_elem_outcome .direction {
    position: relative;
    display: inline-block;
    left: 10px; }
  .main_elem_outcome .sum {
    position: relative;
    display: inline-block; }
  .main_elem_outcome .date-of-create {
    position: relative;
    left: 230px;
    display: inline-block; }
  .main_elem_outcome button {
    left: 220px;
    position: relative;
    display: inline-block; }

/*# sourceMappingURL=style.css.map */